/* Mobile gets a square image */
@media (max-width: 675px){
  .landing-page .header-wrapper {
    background:no-repeat center 100px url('header-mobile.jpg'),
      linear-gradient(to bottom, #2160b2 0%, #68a4fe 52%, #c8e4fe 70%);
  background-size:100%;
  }
  .heading h1 small{color:#1f232b;font-size:14px;}
}
/* Desktop gets a 1080p image */
@media (min-width: 676px) and (max-width: 1920px){
  .landing-page .header-wrapper {
    background:no-repeat center url('header-1920.jpg'),
      linear-gradient(to bottom, #2160b2 0%, #68a4fe 52%, #c8e4fe 70%);
  }
}

/* large desktops get a large image */
@media (min-width: 1921px), (min-resolution: 192dpi) and (min-width: 960px){
  .landing-page .header-wrapper {
    background:no-repeat center url('header-2880.jpg'),
      linear-gradient(to bottom, #2160b2 0%, #68a4fe 52%, #c8e4fe 70%);
    background-size:cover;
  }
}

/* tweak the header to fit */
.float-1, .float-2, .float-3{display:none;}
.container.links,.heading h1{background:#1f232b;border-radius:4px;}
.container.links{padding:0 20px;margin-bottom:100px;}
.heading h1{padding:10px 20px;background:rgba(255,255,255,0.7);color:#1f232b;}
