body:not([class=app-body]):not([class=admin]) {
    background: #2160b2;
    background: bottom center url("bne.png"), linear-gradient(to bottom, #2160b2 0%, #68a4fe 52%, #c8e4fe 70%);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.about-body .wrapper {
    background: rgba(0, 0, 0, .8);
    padding: 25px 50px;
    margin-top: 50px;
    border-radius: 4px;
}

.form-container {
    background: rgba(0, 0, 0, .8);
    border-radius: 4px;
}

.footer {
    display:none;
}

/* logo background */
.logo-container a{
    display:inline-block;
    background:rgba(0, 0, 0, .8);
    border-radius:100%;
    padding:10px;
    margin-bottom:20px;
}
.logo-container a img{
    margin:0;
}

/* more link on profile pages */
.pagination{
    background-color: #2588d0;
    border-radius: 0 0 4px 4px;
    margin-top: -2px;
    padding:10px;
}

span.previous_page.disabled{
    display:none;
}
